{% extends 'base.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
    {% endblock links %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="form-container">
    <h1>Reset Password</h1>
    <p>Type in your email address to recieve instruction to reset your password.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset" class="btn btn-success">
    </form>
</div> 
{% endblock content %}