{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
    <h1 class="detail-heading">{{ article.title }}</h1>
    <p><strong>Written By: {{ article.author }} | on {{ article.created_on }}</strong></p>
    <p class="detail-body">{{ article.body }}</p>
    {% if user.is_staff %}
    <a href="{% url 'edit_article' article.id %}" class="btn btn-primary">Edit</a> |
    <a href="{% url 'delete_article' article.id %}" class="btn btn-warning">Delete</a>
    {% endif %}
{% endblock content %}